<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewGuestServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.CreateNewGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGuestServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.ListGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGuestServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.EditGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGuestServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.DeleteGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewRoomServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.CreateNewRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoomServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.ListRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.EditRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <servlet-class>MotelManagement.controllers.DeleteRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewGuestServlet</servlet-name>
        <url-pattern>/CreateNewGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGuestServlet</servlet-name>
        <url-pattern>/ListGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGuestServlet</servlet-name>
        <url-pattern>/EditGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGuestServlet</servlet-name>
        <url-pattern>/DeleteGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewRoomServlet</servlet-name>
        <url-pattern>/CreateNewRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoomServlet</servlet-name>
        <url-pattern>/ListRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomServlet</servlet-name>
        <url-pattern>/EditRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <url-pattern>/DeleteRoom</url-pattern>
    </servlet-mapping>
</web-app>
